.chat {
  flex: 0.65;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
}

.chat_header {
  cursor: pointer;
  min-height: 60px;
  max-height: 60px;
  max-width: initial;
  display: flex;
  align-items: center;
  background-color: #ededed;
  box-sizing: border-box;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid lightgray;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.chat_header_back {
  display: none !important;
}

.chat_header_avatar {
  margin: auto 15px auto 15px;
}
.chat_header_text {
  flex: 1;
  padding: 10px;
}
.chat_header_text > h3 {
  font-weight: 500;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  width: 30vw;
  text-overflow: ellipsis;
}

.chat_header_text > p {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  width: 42vw;
  text-overflow: ellipsis;
  color: gray;
}

.chat_header_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 4vw;
}

.chat_body {
  flex: 1;
  background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
  padding: 30px;
  overflow: auto;
}

.chat_message::after {
  content: "";
  top: 15px;
  left: 8px;
  position: absolute;
  border-top-left-radius: 8px #000;
  border-bottom-left-radius: 8px #000;
  border-right: 15px solid #000;
}

.chat_message {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  width: fit-content;
  max-width: 60%;
  background-color: #fff;
}

.chat_message_body {
  overflow: auto;
  font-size: small;
  max-height: 1500px;
}

.chat_name {
  font-size: small;
  padding-bottom: 4px;
  font-weight: 500;
}

.chat_timestamp {
  padding: 10px;
  float: right;
  font-size: smaller;
  color: gray;
}

.chat_reciver {
  margin-left: auto;
  background-color: #dcf8c6;
}
.chat_footer {
  height: auto;
}

.chat_footer_form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 4px 10px 4px 10px;
}

/* .chat_footer_form > .MuiSvgIcon-root {
  padding: 10px;
} */
.mui-icon {
  font-size: 30px !important;
  color: #919191 !important;
}

.chat_footer_form > input {
  outline: none;
  border: none;
  color: gray;
  cursor: text;
  flex: 1;
  font-size: 15px;
  width: auto;
  padding: 12px;
  border-radius: 20px;
}

@media (max-width: 600px) {
  .chat {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    width: auto;
  }
  .chat_header {
    cursor: pointer;
    min-height: 60px;
    max-height: 60px;
    max-width: initial;
    display: flex;
    align-items: center;
    background-color: #ededed;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid lightgray;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  .chat_body {
    flex: 1;
    background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
    padding: 30px;
    overflow: auto;
    width: auto;
  }

  .chat_footer {
    position: sticky;
    bottom: 0px;
    width: auto;
  }

  .chat_visible {
    display: flex;
  }
  .chat_hidden {
    display: none;
  }
  .chat_header_back {
    display: block !important;
  }
}
